<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>
      Akpager - Multipurpose Landing page HTML Template || 404 Error
    </title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      href="assets/images/logos/favicon.png"
      type="image/x-icon"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- Flaticon -->
    <link rel="stylesheet" href="assets/css/flaticon.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/fontawesome-5.14.0.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <!-- Animate -->
    <link rel="stylesheet" href="assets/css/aos.css" />
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.min.css" />
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"><div class="custom-loader"></div></div>

      <!-- main header -->
      <%- include('./partials/header') -%>

      <!-- 404 Error Area Start -->
      <section class="error-area py-150 rpy-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
              <div class="error-content mt-80 rmt-60">
                <div
                  class="image"
                  data-aos="zoom-in-up"
                  data-aos-duration="1500"
                  data-aos-offset="50"
                >
                  <img
                    src="assets/images/Others/404-error.png"
                    alt="404 Error"
                  />
                </div>
                <h1
                  data-aos="fade-up"
                  data-aos-duration="1500"
                  data-aos-offset="50"
                >
                  Page not found
                </h1>
                <p
                  data-aos="fade-up"
                  data-aos-delay="50"
                  data-aos-duration="1500"
                  data-aos-offset="50"
                >
                  It looks like you've ventured into uncharted territory. The
                  page you were looking for may have been moved, deleted, or
                  never existed in the first place. But don't worry, you're not
                  lost for long.
                </p>
                <form
                  class="newsletter-form style-three"
                  action="#"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-duration="1500"
                  data-aos-offset="50"
                >
                  <label for="search"
                    ><i class="far fa-search fa-fw"></i
                  ></label>
                  <input
                    id="search"
                    type="search"
                    placeholder="Search"
                    required=""
                  />
                  <button type="submit">
                    Search <i class="far fa-arrow-right"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 404 Error Area End -->

      <!-- footer area start -->
      <%- include('./partials/footer') -%>
      <!-- footer area end -->
    </div>
    <!--End pagewrapper-->

    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Appear Js -->
    <script src="assets/js/appear.min.js"></script>
    <!-- Slick -->
    <script src="assets/js/slick.min.js"></script>
    <!-- jQuery UI -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Image Loader -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Circle Progress -->
    <script src="assets/js/circle-progress.min.js"></script>
    <!-- Skillbar -->
    <script src="assets/js/skill.bars.jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!--  AOS Animation -->
    <script src="assets/js/aos.js"></script>
    <!-- Custom script -->
    <script src="assets/js/script.js"></script>
  </body>
</html>
