<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akpager - Multipurpose Landing page HTML Template || Coming Soon</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="assets/images/logos/favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    
    <!-- Flaticon -->
    <link rel="stylesheet" href="assets/css/flaticon.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/fontawesome-5.14.0.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- Animate -->
    <link rel="stylesheet" href="assets/css/aos.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>
<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"><div class="custom-loader"></div></div>

        <!-- main header -->
        <header class="main-header menu-absolute no-border">

            <!--Header-Upper-->
            <div class="header-upper py-10">
                <div class="container clearfix">

                    <div class="header-inner py-20 rel d-flex align-items-center">
                        <div class="logo-outer-two">
                            <div class="logo"><a href="index.html"><img src="assets/images/logos/logo6.png" alt="Logo" title="Logo"></a></div>
                        </div>

                        <!-- Menu Button -->
                        <div class="menu-btn ms-auto d-none d-sm-flex">
                            <a href="contact.html" class="theme-btn">Get Started <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
        </header>
       
       
        <!-- Coming Soon Area Start -->
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Not found 404 -->
    <section class="not-found section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-12 text-center">
            <h2>Booking <span style="color: #f5b754"> Confirmed</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="image w-100 overflow-hidden">
              <img
                src="/public/assets/images/Artificial/success.gif"
                alt="Booking Confirmed"
                class="success-gif"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="py-4 bookingDetails">
              <h3>Booking Details :</h3>
              <ul class="bd_list">
                <li>
                  <strong>Booking Id : </strong><span id="bookID"> 98263</span>
                </li>
                <li><strong>Name : </strong><span id="name"> Testing</span></li>
                <li>
                  <strong>Phone No : </strong
                  ><span id="mobile"> 1234567890</span>
                </li>
                <li>
                  <strong>Email ID : </strong
                  ><span id="email"> test@gmail.com</span>
                </li>
                <li>
                  <strong>Service : </strong><span id="service"> One Way</span>
                </li>
                <li>
                  <strong>Car Type : </strong><span id="cName"> Sedan</span>
                </li>
                <li>
                  <strong>Pickup Location : </strong
                  ><span id="pick"> Orgin</span>
                </li>
                <li>
                  <strong>Drop Location : </strong
                  ><span id="drop"> Destination</span>
                </li>
                <li>
                  <strong>Distance : </strong><span id="distance"> 100</span>km
                </li>
                <li>
                  <strong>Duration : </strong><span id="duration"> 10hr</span>
                </li>
                <li>
                  <strong>Pickup Date : </strong
                  ><span id="pickupDate"> Pickup Date</span>
                </li>
                <li>
                  <strong>Pickup Time : </strong
                  ><span id="pickupTime"> Pickup Time</span>
                </li>
                <li id="dropDate"></li>
                <li>
                  <strong>Esitmated Fare : </strong>Rs.<span id="price">Price</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="text-center py-4">
              <a
                onclick="sendMsgToWhatsapp()"
                class="text-white bg-success px-4 py-3 rounded cursor-pointer"
                style="cursor: pointer;"
                >Send to Whatsapp</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- Coming Soon Area End -->
       

    </div>
    <!--End pagewrapper-->
   
    
    <!-- Jquery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Appear Js -->
    <script src="assets/js/appear.min.js"></script>
    <!-- Slick -->
    <script src="assets/js/slick.min.js"></script>
    <!-- jQuery UI -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Image Loader -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Circle Progress -->
    <script src="assets/js/circle-progress.min.js"></script>
    <!-- Skillbar -->
    <script src="assets/js/skill.bars.jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!--  AOS Animation -->
    <script src="assets/js/aos.js"></script>
    <!-- Custom script -->
    <script src="assets/js/script.js"></script>

</body>
</html>